.header {
  width: 100%;
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  box-shadow: -2px 0px 8px 2px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.header-content {
  width: 1044px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-logo {
  width: auto;
  height: auto;
  display: flex;
  padding-left: 12px;
}
