.characterCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 510px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.filterSmallField {
  display: flex;
  align-items: center;
  width: 94px;
  height: 21px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.5);
}
