.mainpage-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainpage {
  width: 1044px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}
