.footer {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -2px 0px 8px 2px rgba(0, 0, 0, 0.1);
}
