.red {
  background-color: #df0000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.green {
  background-color: #12b800;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.orange {
  background-color: #ff9900;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}
