.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.circle.red {
  background-color: #df0000;
}

.circle.green {
  background-color: #12b800;
}

.circle.orange {
  background-color: #ff9900;
}
