* {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  font-style: normal;
  overflow: hidden;
}

:root {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
